{% extends('@Demo/layout-with-header.html.twig') %}

{% block pageTitle %}{{ activity.title }}{% endblock %}

{% block content %}
<section class="activity-detail wrapper">
    <div class="grid grid--full">
    </div>
</section>
{% endblock %}
