.activities-list,
.single-activity {
	article {
		position: relative;
		img { 
			width: 100%;
		}
	}
	.list-item {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	.desc {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		background: url(/images/bcg-list-overlay.png) 0 bottom repeat-x;
		.desc-content {
			width: 100%;
			padding: 0 20px;
			position: absolute;
			bottom: 20px;
			@include box-sizing(border);
		}
	}

	.icons {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.ico {
		display: inline-block;
		margin-right: 10px;
		font-size: 13px;
		color: $white;
		background-size: 16px auto;
		background-position: left 0;
		background-repeat: no-repeat;
		padding-left: 20px;
		padding-bottom: 4px;
	}
	.ico-time {
		background-image: url(/images/icons/ico-clock.png);
	}
	.ico-fun {
		background-image: url(/images/icons/ico-fun.png);
	}
	.ico-creative {
		background-image: url(/images/icons/ico-brush.png);
	}
	.ico-sport {
		background-image: url(/images/icons/ico-sport.png);
	}
	.ico-like {
		background-image: url(/images/icons/ico-like.png);	
	}


	.heading {
		font-size: 20px;
		font-weight: 300;
		color: $white;
		@include transition(300ms);
		@include min-screen($tablet-portrait) {
			font-size: 24px;
		}
		@include min-screen($tablet-landscape) {
			font-size: 30px;
		}
		@include min-screen($desktop) {
			font-size: 34px;
		}
	}
}

.activity-steps {
	padding: 0 20px 60px;
	p {
		font-size: 14px;
		color: $black;
	}
	.heading {
		font-size: 20px;
		color: $black;
		font-weight: 700;
	}
	.needed-eq {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		li {
			display: inline-block;
			margin: 0 10px;
			vertical-align: top;
			img {
				max-width: 55px;
			}
			span {
				display: block;
				text-align: center;
				color: #95a527;
				margin-top: 8px;
				font-size: 18px;
			}
		}
	}
	.start {
		display: block;
		width: 100%;
		text-align: center;
		background-color: #c32c61;
		border-radius: 5px;
		font-size: 25px;
		line-height: 60px;
		text-decoration: none;
		margin-bottom: 10px;
		color: $white;
	}
	.like {
		display: block;
		width: 100%;
		text-align: center;
		border: 2px solid #65a1bf;
		border-radius: 5px;
		line-height: 60px;
		font-size: 25px;
		color: #65a1bf;
		text-decoration: none;
	}
}
























