.login-form {
	background-color: $yellow;
	padding-bottom: 100px;
	.picture {
		width: 100%;
		height: 334px;
		background: url(/images/bcg-login.jpg) center center no-repeat;
		background-size: cover;
		.logo {
			display: block;
			position: absolute;
			z-index: 10;
			top: 120px;
			left: 0;
			right: 0;
			width: 243px;
			height: 146px;
			background: url(/images/logo.png) 0 0 no-repeat;
			background-size: 243px auto;
			margin: 0 auto;
		}
	}
	.login-buttons {
		margin-top: 8px;
		.google-plus,
		.facebook {
			display: block;
			margin: 0 20px 10px;
			padding-left: 70px;
			position: relative;
			font-size: 20px;
			font-weight: 400;
			color: $white;
			line-height: 60px;
			text-decoration: none;
			@include box-sizing(border);
			.ico {
				display: inline-block;
				position: absolute;
			}
		}
		.facebook {
			background-color: $blue;
			.ico {
				width: 28px;
				height: 51px;
				background: url(/images/icons/ico-fb.png) 0 0 no-repeat;
				background-size: 28px auto;
				left: 15px;
				bottom: 0;
			}
		}
		.google-plus {
			background-color: $red;
			.ico {
				width: 36px;
				height: 37px;
				background: url(/images/icons/ico-g-plus.png) 0 0 no-repeat;
				background-size: 36px auto;
				left: 15px;
				bottom: 10px;
			}
		}
	}
	.partner {
		margin-top: 20px;
		padding-bottom: 40px;
		p {
			text-align: center;
			font-size: 14px;
			color: $black;
		}
		img { 
			display: block;
			max-width: 146px;
			margin: 0 auto;
		}
	}
}
