.search {
	background-color: #1a0f22;
	padding-bottom: 80px;
	.picture {
		max-width: 100%;
		height: 423px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 0;
		&.home {
			background-image: url(/images/home.jpg);
		}
		&.outside {
			display: none;
			background-image: url(/images/outside.jpg);
		}
		h1 {
			margin: 0;
			color: #c32c61;
			font-size: 35px;
			font-weight: 600;
			padding-top: 240px;
			text-align: center;
		}
	}

	p {

	}
	
	.slider-container {
		padding: 0 20px;
		#minutes {
			display: none;
		}
		.checkboxes {
			text-align: center;
			input[type=text] {
				display: none;
			}
			.checkbox-item {
				display: inline-block;
				width: 70px;
				margin: 0 10px;
				cursor: pointer;
				color: $white;
				font-size: 15px;
				text-align: center;
				white-space: nowrap;
				.ico {
					display: block;
					width: 40px;
					height: 40px;
					margin: 0 auto;
					background-position: 0 0;
					background-repeat: no-repeat;
					&.ico-home {
						background-image: url(/images/icons/ico-home.png);
						&.ico-active {
						}
					}
					&.ico-outside {
						background-image: url(/images/icons/ico-outside.png);
					}
				}
				em {
					display: block;
					margin-top: 6px;
					font-style: normal;
				}
				&.active {
					color: #95a527;
					.ico {
						&.ico-home {
							background-image: url(/images/icons/ico-home-active.png);
						}
						&.ico-outside {
							background-image: url(/images/icons/ico-outside-active.png);
						}
					}
				}
			}
		}
		input[type=submit] {
			background: #c32c61;
			display: block;
			margin-top: 30px;
			width: 100%;
			height: 60px;
			color: $white;
			text-align: center;
			border: 0;
			border-radius: 8px;
			font-size: 25px;
		}
	}
	#slider {
		background-color: #fff;
	}
}
