$violet: #3d2e8a;
$black: #000;
$white: #fff;
$yellow: #ffd200;

$phone-landscape: 30em; // 480px
$tablet-portrait: 40em; // 640px
$tablet-landscape: 64em; // 1024px
$desktop: 80em; // 1280px
$wide-desktop: 90em; // 1440px

$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default;
