{% extends('@Demo/layout.html.twig') %}
{% block content %}
	<form method="post" action="" class="search">
		<div class="picture home">
			<h1>Mam <span class="jsTime">20</span> <br> minut poza domem</h1>
		</div>
		<div class="picture outside">
			<h1>Mam <span class="jsTime">20</span> <br> minut w domu</h1>
		</div>
		<div class="slider-container">
			<div id="slider"></div>
			
			<div class="checkboxes">
				<div class="checkbox-item">
					<span class="ico ico-home"></span>
					w domu
				</div>
				<div class="checkbox-item">
					<span class="ico ico-outside"></span>
					poza domem
				</div>
			</div>

		</div>
	</form> 
{% endblock %}
